/2/nbproject/private/
/2/build/
/3/nbproject/private/
/3/build/
/5/nbproject/private/
/5/build/
/6/nbproject/private/
/6/build/
/uts/nbproject/private/
/uts/build/
/8/nbproject/private/
/8/build/
/10/nbproject/private/
/10/build/
/11/nbproject/private/
/11/build/
/12_lingkaran/nbproject/private/
/12_persegi_panjang/nbproject/private/
/12_segitiga/nbproject/private/
/12_contoh/nbproject/private/
/12_contoh/build/
/12_lingkaran/build/
/12_segitiga/build/
/12_persegi_panjang/build/
